<div class="wrapper">
 <div class="side">
  <div class="side-head"></div>
  <div class="side-main"></div>
  <%= render "side_bar" %>
 </div>
 <div class="main">
  <div class="main-head"></div>
  <div class="main-body"></div>
  <div class="main-foot"></div>
  <%= render "main_chat" %>
 </div>
</div>